html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
}

.grid {
    display: block;
    width: 100%;
    margin: 20px auto;
}

.grid__item {
    display: inline-block;
    height: 40px;
    color: #fff;
    background-color: #232323;
    margin: 0 8px;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    padding: 8.5px;
    font-weight: bold;

    -webkit-transition: background-color 150ms linear;
    -moz-transition: background-color 150ms linear;
    -o-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
}

.grid__item--selected {
    background-color: #ff7813;
}